* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #263C4D;
}
.conteiner {
    position: relative;
    margin: auto;
    width: 90%;
    height: 1200px;
    padding: 20px;
    top: 40px;
    background-color: #3C5466;
    border-radius: 20px;
}

/* Imagen de perfil y nombre */

.header {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.header__img {
    height: 200px;
    width: 180px;
    border-radius: 50%;
}

.header__name {
    align-self: center;
    position: relative;
    left: 30px;
    font-size: 35px;
    padding-left: 100px;
}

/* Navegacion entre secciones */

.nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 50px;
}

.nav__section {
    font-size: 20px;
    margin: 20px;
}

.nav__flecha {
    font-size: 20px;
}

/*  footer */

.footer {

}