* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #263C4D;
}

.conteiner {
    position: relative;
    margin: auto;
    width: 90%;
    height: 1200px;
    padding: 20px;
    top: 40px;
    background-image: radial-gradient(#3C5466 20%, #172E40);
    background-repeat: repeat;
    border-radius: 20px;
}

/* Imagen de perfil y nombre */

.header {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.header__img {
    height: 200px;
    width: 180px;
    border-radius: 50%;
    border: 1px solid #172E40;
    box-shadow: 0 0 10px 5px #172E40;
}

.header__name {
    align-self: center;
    position: relative;
    left: 30px;
    font-size: 35px;
    padding-left: 100px;
}

/* Navegacion entre secciones */

.nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 50px;
}

.nav__section {
    font-size: 20px;
    margin: 20px;
}

.nav__flecha {
    font-size: 20px;
}

/* Descripcion de los contenidos*/

.contenido__conteiner {
    height: 600px;
    padding: 20px;
    background-color: #172E40;
    border-radius: 10px;
}

.contenido__conteiner > p {
    font-size: 20px;
}

/*  footer */

.footer {
    position: relative;
    top: 50px;
}
.footer__title {
    font-size: 20px;
    position: relative;
    text-align: center;
}

.footer__conteiner {
    display: flex;
    justify-content: center;
}

.footer__conteiner > a {
    text-decoration: none;
    padding: 10px;
}

.footer__conteiner > a > i {
    padding: 5px;

}