* {
    padding: 0;
    margin: 0;
    color: #E2E0E0;
}
.conteiner {
    position: absolute;
    width: 100%;
    background-image: linear-gradient(#3C5466 65%, #172E40);
}

/* Imagen de perfil y nombre */

.header {
    display: flex;
    height: 400px;
    justify-content: evenly;
    padding: 120px;
}

.header__img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10%;
    box-shadow: 0 0 15px 2px #172E40;
}

.header__name {
    align-self: center;
    position: relative;
    font-family: 'Nunito', sans-serif;
    left: 120px;
    font-size: 70px;
}

.header__name-resaltar{
    color: rgba(202, 99, 14, 0.829);
    font-weight: 200;
}

/* Navegacion entre secciones */

.nav {
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 50px;
}

.nav__section {
    font-size: 30px;
    margin: 20px;
}

.nav__flecha {
    font-size: 30px;
}

.nav__conteiner > a {
    text-decoration: none;
}

.contenido__conteiner > p {
    font-size: 20px;
}

/* Descripcion de los contenidos*/

.contenido__conteiner {
    height: 600px;
    padding: 20px;
    margin: 10px;
    background-color: #172E40;
    border-radius: 10px;
}


/*  footer */

.footer {
    position: relative;
    padding: 20px;
    top: 10px;
}
.footer__title {
    font-size: 30px;
    position: relative;
    text-align: center;
}

.footer__conteiner {
    display: flex;
    justify-content: center;
}

.footer__conteiner > a {
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
}

.footer__conteiner > a > i {
    padding: 5px;
}